<!-- Add as many collapsible components necessary for your design -->
<!-- Handle the collapsing with JS -->

<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repudiandae
      in doloribus, fugiat odio ea, ad similique delectus ut, excepturi nemo qui
      corrupti dicta ex.
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item2</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repudiandae
      in doloribus, fugiat odio ea, ad similique delectus ut, excepturi nemo qui
      corrupti dicta ex.
    </div>
  </div>