<!-- 2 Column grid -->
<!-- Design in whatever way fits the layout -->
<!-- In this case an icon with info on left and img on right -->
<article class="grid grid--1x2 feature">
    <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est,
          nobis! Sed, esse culpa facere minima aliquid velit rem totam quia at
          eius, quas temporibus aut vitae nesciunt laborum laboriosam est?
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source type="image/webp" srcset="images/easy.webp 1x" />
        <source type="image/jpg" srcset="images/easy/.jpg 1x" />
        <img class="feature__image" src="images/easy.jpg" alt=""
      /></picture>
    </div>
  </article>