<!-- wrap around a container called media -->
<!-- Layout however you like in this case we have an image class with an icon component & some text in the body -->

<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="/images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p class="media__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        natus odit magnam dolor animi alias eos nam quas veniam nulla?
      </p>
    </div>
  </div>