<!-- Start by adding a regular quote or blocklevel quote depending on your layout -->
<!-- Inside this have a section for the quote and for the footer we use a media component to display information about the author -->

<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorem
      maiores itaque debitis sint quas ad? Distinctio numquam similique qui?
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="/images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">
            Mosh Company CEO
          </p>
        </div>
      </div>
    </footer>
  </blockquote>